section{

  margin: auto;

 }

/*  */

.App {
  text-align: center;
  background-color: #ffe9d1;
  font-family: "Montserrat";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  */

.container1 {  
  
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "logo nome link1 link2 link3 link4";
  }

.logo { grid-area: logo; max-height: 50px;   }

.nome { grid-area: nome;   justify-content: left;   }

.link1 { grid-area: link1; }

.link2 { grid-area: link2; } 

.link3 { grid-area: link3; max-height: 50px;} /* cart */

.link4 { grid-area: link4; }


 .Tit1{

font-weight: bold;


 }

  .Tit2{

font-weight: 100;

 }


.container2 {  
  
  display: grid;

  grid-template-columns: 25px repeat(4, 1fr) 25px;
  grid-template-rows: auto;
  gap: 10px 20px;
  grid-auto-flow: column;
  grid-template-areas:
    ". titulo titulo titulo titulo ."
    ". box1 box2 box3 box4 .";
}

.titulo {
  grid-area: titulo;
  font-family: 'Montserrat';
  font-size: xx-large;  
 
}

.box1 {
  align-self: center;
  grid-area: box1;
}

.box2 {
  align-self: center;
  grid-area: box2;
}

.box3 {
  align-self: center;
  grid-area: box3;
}

.box4 {
  align-self: center;
  grid-area: box4;
}


.boxCounter{
  background-color: antiquewhite;
}

.txtCounter{

text-align: center;

}

.btnCounter{
    
    background-color: #FCA32F;
    border: 5px outset #FC6F2F;
    width: auto;


}

.photo{

border: solid 1px red;

}